[submodule "deps/grafana"]
	path = deps/grafana
	url = https://github.com/isaacdavis/grafana.git
[submodule "deps/sdc-scripts"]
	path = deps/sdc-scripts
	url = https://github.com/joyent/sdc-scripts.git
[submodule "deps/nginx"]
	path = deps/nginx
	url = https://github.com/nginx/nginx
